body{
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1{
    font-size: x-large;
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(224, 116, 138);

}
.box img{
    margin-top: -55px;
    width: 100px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border-style:groove;
    border-color: rgb(66, 24, 32);
}


.box{
    width: 950px;
    padding: 20px;
    height: 576px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px auto; 
    border-color: darkgrey;
}

.box p{
    text-align: justify ;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color:darkslategrey;
}

.new img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

